<div class="productCreateProductForm" [formGroup]="stock">
    <div class="objectProduct">
        <h3 [routerLink]="['']">Thêm mới hàng nhập</h3>
    </div>
    <div class="templateCreateProduct">
        <div class="itemInputProduct">
            <label>Nhập tên hàng</label>
            <br>
            <input type="text" id="name" formControlName="name" placeholder="Nhập tên sản phẩm muốn thêm"/>
            <div *ngIf="Name?.dirty || Name?.touched">
                <div class="error" *ngIf="Name?.hasError('required')"
                    style="color: rgb(195, 45, 45); font-size: 18px;">
                    Bạn chưa nhập tên mặt hàng
                </div>
            </div>
        </div>
        <div class="itemInputProduct">
            <label>Nhập số lượng hàng </label>
            <br>
            <input type="number" id="quantity" formControlName="quantity" placeholder="Nhập chi tiết sản phẩm muốn thêm">
            <div *ngIf="Quantity?.dirty || Quantity?.touched">
                <div class="error" *ngIf="Quantity?.hasError('required')"
                    style="color: rgb(195, 45, 45); font-size: 18px;">
                    Bạn chưa nhập số lượng hàng
                </div>
            </div>
        </div>
        <div class="itemInputProduct">
            <label>Nhập đơn vị tính</label>
            <br>
            <input   placeholder="Nhập đươn vị tính cho hàng" formControlName="unitOfMeasure">
            <div *ngIf="unitOfMeasure?.dirty || unitOfMeasure?.touched" class="error">
                <div *ngIf="unitOfMeasure?.hasError('required')" style="color: rgb(195, 45, 45); font-size: 18px;">
                    Bạn chưa nhập đơn vị tính
                </div>
            </div>
        <div class="itemInputProduct">
            <label>Nhập trạng thái của mặt hàng</label>
            <br>
            <div class="statusProduct">
                <input type="radio" formControlName="status" [value]="true">
                <p>Sử dụng</p>
            </div>
            <div class="statusProduct">
                <input type="radio" formControlName="status" [value]="false">
                <p>Ngưng sử dụng</p>
            </div>
            <div *ngIf="Status?.dirty || Status?.touched" class="error">
                <div *ngIf="Status?.hasError('required')" style="color: rgb(195, 45, 45); font-size: 18px;">
                    Bạn chưa chọn trạng thái cho tài khoản
                </div>
            </div>
        </div>
        <div class="btn-createProduct">

            <button (click)="handleCreateProduct()">Thêm mới mặt hàng</button>
        </div>

    </div>
</div>
</div>