<div class="headerComponentAll">
    <div class="logoImage" >
        <img src="assets/image/logo.png" [routerLink]="['']" style="cursor: pointer;">
    </div>
    <div class="AllItemManage">
        <h5 [routerLink]="['Account-manage']">QUẢN LÝ TÀI KHOẢN</h5>
        <h5 [routerLink]="['ProductManage']">QUẢN LÝ SẢN PHẨM</h5>
        <h5 [routerLink]="['supply_manage']">QUẢN LÝ NHẬP HÀNG</h5>
        <h5 [routerLink]="['order-manage']">QUẢN LÝ ĐẶT HÀNG</h5>
        <h5 [routerLink]="['stock-manage']">QUẢN LÝ KHO</h5>
        <h5 [routerLink]="['table-manage']">QUẢN LÝ BÀN</h5>
        <h5 [routerLink]="['fund-manage']">QUẢN LÝ QUỸ</h5>
    </div>
</div>