<div class="listProductManage">

    <div class="functtionProductItem">
        <button [routerLink]="['/create-product']" class="btn-createProduct">Thêm mới sản phẩm</button>
    </div>
    <div class="headerProductMange">
        <h4>Mã sản phẩm</h4>
        <h4>Tên sản phẩm</h4>
        <h4>Giá sản phẩm</h4>
        <h4>Chi tiết sản phẩm</h4>
        <h4>Ảnh sản phẩm</h4>
        <h4>Danh mục sản phẩm</h4>
        <h4>Cập nhật xóa</h4>
        <h4>Trạng thái</h4>
        <h4>tác vụ</h4>
    </div>
    <div class="productItemList" *ngFor="let product of products">
        <div class="itemInProductList">
            <p>{{product.id}}</p>
        </div>
        <div class="itemInProductList">
            <p>{{product.name}}</p>
        </div>
        <div class="itemInProductList">
            <p>{{product.price}}</p>
        </div>
        <div class="itemInProductList">
            <p>{{product.detail}}</p>
        </div>
        <div class="itemInProductList">
            <img src="{{product.imageProduct}}" width="100px">
        </div>
        <div class="itemInProductList">
            <p>{{product.category}}</p>
        </div>
        <div class="itemInProductList">
            <p>{{product.deleted}}</p>
        </div>
        <div class="itemInProductList">
            <p>{{product.status}}</p>
        </div>
        <div class="itemInProductList">
            <button>Sửa</button>
            <button>Xóa</button>
        </div>
    </div>
</div>