<div class="orderComponent">
    <div class="designComponentOrderComponent">
        <h3>Quản lý đặt hàng tại cafe</h3>
    </div>
    <div class="manageTableAndOrder">
        <div>
            <h3>Bàn</h3>
        </div>
        <div>
            <div class="tableCoffe">01</div>
            <div>02</div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>