<div class="productCreateProductForm">
    <div class="objectProduct">
        <h3>Thêm mới sản phẩm</h3>
    </div>
    <div class="templateCreateProduct">
        <div class="itemInputProduct">
            <label>Nhập tên sản phẩm</label>
            <br>
            <input>
        </div>
        <div>
            <label>Nhập chi tiết sản phẩm</label>
            <br>
            <input>
        </div>
        <div>
            <label>Nhập giá sản phẩm</label>
            <br>
            <input>
        </div>
        <div>
            <label>Nhập loại danh mục sản phẩm</label>
            <br>
            <input>
        </div>
        <div>
            <label>Nhập ảnh sản phẩm</label>
            <br>
            <input>
        </div>
        <div>
            <label>Nhập trạng thái sản phẩm</label>
            <br>
            <input>
        </div>

    </div>
</div>