<div class="loginComponent" [formGroup]="Login" (ngSubmit)="handleToLogin()">
    <div class="loginFormGroup">
        <h4>Đăng nhập</h4>
        <div class="loginFormControl">
            <label>Nhập tài khoản</label>
            <br>
            <input type="text" placeholder="Nhập tài khoản đăng nhập của bạn" formControlName="username">
            <div *ngIf="UserName?.dirty || UserName?.touched">
                <div *ngIf="UserName?.hasError('required')" style="color: rgb(195, 45, 45); font-size: 10px;">
                    Bạn chưa nhập tên đăng nhập
                </div>
            </div>
        </div>
        <div class="loginFormControl">
            <label>Nhập mật khẩu</label>
            <br>
            <input type="password" placeholder="Nhập mật khẩu của bạn" formControlName="password">
            <div *ngIf="Password?.dirty || Password?.touched">
                <div *ngIf="Password?.hasError('required')" style="color: rgb(195, 45, 45); font-size: 10px;">
                    Bạn chưa nhập mật khẩu
                </div>
            </div>
        </div>
        <div class="btn-submit">
            <button type="submit" (click)="handleToLogin()">Đăng nhập</button>
        </div>
    </div>
</div>