<div class="productCreateProductForm" [formGroup]='productUpdate'>
    <div class="objectProduct">
        <h3>Sửa sản phẩm</h3>
    </div>
    <div class="templateCreateProduct">
        <div class="itemInputProduct">
            <label>Nhập tên sản phẩm</label>
            <br>
            <input type="text" id="name" formControlName="name" placeholder="Nhập tên sản phẩm muốn thêm">
            <div *ngIf="Name?.dirty || Name?.touched">
                <div class="error" *ngIf="Name?.hasError('required')" style="color: rgb(195, 45, 45); font-size: 18px;">
                    Bạn chưa nhập tên sản phẩm
                </div>
            </div>
        </div>
        <div class="itemInputProduct">
            <label>Nhập chi tiết sản phẩm</label>
            <br>
            <input type="text" id="detail" formControlName="detail" placeholder="Nhập chi tiết sản phẩm muốn thêm">
            <div *ngIf="Detail?.dirty || Detail?.touched">
                <div class="error" *ngIf="Detail?.hasError('required')"
                    style="color: rgb(195, 45, 45); font-size: 18px;">
                    Bạn chưa nhập chi tiết sản phẩm
                </div>
            </div>
        </div>
        <div class="itemInputProduct">
            <label>Nhập giá sản phẩm</label>
            <br>
            <input type="number" id="price" placeholder="Nhập giá sản phẩm" formControlName="price">
            <div *ngIf="Price?.dirty || Price?.touched" class="error">
                <div *ngIf="Price?.hasError('required')" style="color: rgb(195, 45, 45); font-size: 18px;">
                    Bạn chưa nhập giá sản phẩm
                </div>
            </div>
        </div>
        <div class="itemInputProduct">
            <label>Nhập loại danh mục sản phẩm</label>
            <br>
            <input type="text" id="category" formControlName="category" placeholder="Nhập loại danh mục sản phẩm">
            <div *ngIf="Category?.dirty || Category?.touched" class="error">
                <div *ngIf="Category?.hasError('required')" style="color: rgb(195, 45, 45); font-size: 18px;">
                    Bạn chưa nhập danh mục sản phẩm
                </div>
            </div>
        </div>
        <div class="itemInputProduct">
            <label for="fileInput">Chọn ảnh sản phẩm:</label>
            <br>
            <input type="file" (change)="onFileSelected($event)" accept="image/*" formControlName="image"
                id="fileInput">
            <div *ngIf="Image?.dirty || Image?.touched" class="error">
                <div *ngIf="Image?.hasError('required')" style="color: rgb(195, 45, 45); font-size: 18px;">
                    Bạn chưa chọn file ảnh sản phẩm
                </div>
            </div>
            <div *ngIf="selectedFileName">
                <p>Tên file đã chọn: {{ selectedFileName }}</p>
            </div>
        </div>
        <div class="itemInputProduct">
            <label>Nhập trạng thái sản phẩm</label>
            <br>
            <div class="statusProduct">
                <input type="radio" formControlName="status" [value]="true">
                <p>Còn hàng</p>
            </div>
            <div class="statusProduct">
                <input type="radio" formControlName="status" [value]="false">
                <p>Hết hàng</p>
            </div>
            <div *ngIf="Status?.dirty || Status?.touched" class="error">
                <div *ngIf="Status?.hasError('required')" style="color: rgb(195, 45, 45); font-size: 18px;">
                    Bạn chưa chọn trạng thái cho sản phẩm
                </div>
            </div>
        </div>
        <div class="btn-createProduct">

            <button (click)="handleUpdateProduct()">Thêm mới sản phẩm</button>
        </div>

    </div>