<div class="productCreateProductForm" [formGroup]="account">
    <div class="objectProduct">
        <h3 [routerLink]="['']">Thêm mới tài khoản</h3>
    </div>
    <div class="templateCreateProduct">
        <div class="itemInputProduct">
            <label>Nhập tên đăng nhập của tài khoản</label>
            <br>
            <input type="text" id="username" formControlName="username" placeholder="Nhập tên sản phẩm muốn thêm"/>
            <div *ngIf="getUserName()?.dirty || getUserName()?.touched">
                <div class="error" *ngIf="getUserName()?.hasError('required')"
                    style="color: rgb(195, 45, 45); font-size: 18px;">
                    Bạn chưa nhập tên đăng nhập của tài khoản
                </div>
            </div>
        </div>
        <div class="itemInputProduct">
            <label>Nhập email của tài khoản</label>
            <br>
            <input type="text" id="email" formControlName="email" placeholder="Nhập chi tiết sản phẩm muốn thêm">
            <div *ngIf="getEmail()?.dirty || getEmail()?.touched">
                <div class="error" *ngIf="getEmail()?.hasError('required')"
                    style="color: rgb(195, 45, 45); font-size: 18px;">
                    Bạn chưa nhập email của tài khoản
                </div>
            </div>
        </div>
        <div class="itemInputProduct">
            <label>Nhập số điện thoại của tài khoản </label>
            <br>
            <input type="number" id="phoneNumber" placeholder="Nhập số điện thoại của tài khoản" formControlName="price">
            <div *ngIf="getPhoneNumber()?.dirty || getPhoneNumber()?.touched" class="error">
                <div *ngIf="getPhoneNumber()?.hasError('required')" style="color: rgb(195, 45, 45); font-size: 18px;">
                    Bạn chưa nhập số điện thoại của sản phẩm
                </div>
            </div>
        </div>
        <div class="itemInputProduct">
            <label>Nhập địa chỉ của tài khoản</label>
            <br>
            <input type="text" id="address" formControlName="address" placeholder="Nhập địa chỉ tài khoản">
            <div *ngIf="getAddress()?.dirty || getAddress()?.touched" class="error">
                <div *ngIf="getAddress()?.hasError('required')" style="color: rgb(195, 45, 45); font-size: 18px;">
                    Bạn chưa nhập địa chỉ của tài khoản
                </div>
            </div>
        </div>
        <div class="itemInputProduct">
            <label>Nhập mật khẩu tài khoản</label>
            <br>
            <input formControlName="password" placeholder="Nhập mật khẩu">
            <div *ngIf="getPassword()?.dirty || getPassword()?.touched" class="error">
                <div *ngIf="getPassword()?.hasError('required')" style="color: rgb(195, 45, 45); font-size: 18px;">
                    Bạn chưa nhập mật khẩu của tài khoản
                </div>
            </div>
        </div>
        <div class="itemInputProduct">
            <label>Nhập thời gian tạo tài khoản</label>
            <br>
            <input formControlName="creatAt" type="date">
            <div *ngIf="getPassword()?.dirty || getPassword()?.touched" class="error">
                <div *ngIf="getPassword()?.hasError('required')" style="color: rgb(195, 45, 45); font-size: 18px;">
                    Bạn chưa nhập thời gian tạo tài khoản
                </div>
            </div>
        </div>
        <div class="itemInputProduct">
            <label>Nhập trạng thái của tài khoản</label>
            <br>
            <div class="statusProduct">
                <input type="radio" formControlName="status" [value]="true">
                <p>Hoạt động</p>
            </div>
            <div class="statusProduct">
                <input type="radio" formControlName="status" [value]="false">
                <p>Ngưng hoạt động</p>
            </div>
            <div *ngIf="getStatus()?.dirty || getStatus()?.touched" class="error">
                <div *ngIf="getStatus()?.hasError('required')" style="color: rgb(195, 45, 45); font-size: 18px;">
                    Bạn chưa chọn trạng thái cho tài khoản
                </div>
            </div>
        </div>
        <div class="btn-createProduct">

            <button (click)="handleCreateProduct()">Thêm mới tài khoản</button>
        </div>

    </div>
</div>