<div class="order-container">
    <div class="header">
        <div class="title">
            <h4>Các món đã gọi</h4>
            <div></div>
        </div>
        <div class="actions">
            <h3 class="action-item">
                <button>Thanh toán</button>
            </h3>
            <h3 class="action-item">
                <button>In hóa đơn</button>
            </h3>
        </div>
    </div>
    <div class="drink-list-container">
        <div class="drink-list">
            <h3>Danh sách đồ uống</h3>
            <div class="drink-items">
                <button class="drink-button">Trà</button>
                <button class="drink-button">Cafe</button>
                <button class="drink-button">Nước ép</button>
                <button class="drink-button">Freeze</button>
            </div>
        </div>
        <div class="product-order">
            <div class="product-order">
                <div class="product-order">
                    <product-order-item-component-layout [products]="products" (dataEvent)="handleDataEvent($event)">
                    </product-order-item-component-layout>
                </div>
            </div>
        </div>
    </div>


</div>