<div class="listTableOrderManager">
    <div class="tableOrderCoffes" *ngFor="let supply of supplyItem">
        <div>
            <p>{{supply.name}}</p>

            <label>Nhập số lượng ({{supply.unitOfMeasure}})</label>
            <input type="number" (input)="onValueChange(supply.id, 'quantity', $event)"
                placeholder="Nhập số lượng nhập hàng">

            <label>Nhập số tiền</label>
            <input type="number" (input)="onValueChange(supply.id, 'price', $event)"
                placeholder="Nhập số tiền nhập hàng">

            <div>
                <label>Nhập phương thức thanh toán</label>
                <input type="text" placeholder="Chọn phương thức thanh toán" (focus)="onPaymentMethodFocus()"
                    list="fundListOptions" (input)="onValueChange(supply.id, 'price', $event)"
                    (change)="onFundNameChange(supply.id, $event)"
>

                <datalist id="fundListOptions">
                    <option *ngFor="let fund of fundList" [value]="fund.fundName"></option>
                </datalist>
            </div>
        </div>
    </div>
</div>