<div class="homeComponent">
    <div class="designComponentHomeComponent">
        <h3>Nhập thông tin hàng hóa thêm</h3>

        <div>
            <div class="itemInputProduct">
                <label>Nhập mã người nhận</label>
                <br>
                <input id="phoneNumber" placeholder="Nhập đươn vị tính cho hàng" formControlName="UnitOfMeasure">
            </div>
            <div class="itemInputProduct">
                <label>Nhập trạng thái của hàng</label>
                <br>
                <input id="phoneNumber" placeholder="Nhập đươn vị tính cho hàng" formControlName="UnitOfMeasure">
            </div>
            <div class="itemInputProduct">
                <label>Nhập số tiền phải trả để mua hàng</label>
                <br>
                <input id="phoneNumber" placeholder="Nhập đươn vị tính cho hàng" formControlName="UnitOfMeasure">
            </div>
            <div class="itemInputProduct">
                <label>Nhập tên hàng</label>
                <br>
                <input id="phoneNumber" placeholder="Nhập đươn vị tính cho hàng" formControlName="UnitOfMeasure">

            </div>
            <div class="itemInputProduct">
                <label>Nhập số lượng mua</label>
                <br>
                <input id="phoneNumber" placeholder="Nhập đươn vị tính cho hàng" formControlName="UnitOfMeasure">
            </div>
            <div class="itemInputProduct">
                <label>Nhập đơn vị tính</label>
                <br>
                <input id="phoneNumber" placeholder="Nhập đươn vị tính cho hàng" formControlName="UnitOfMeasure">

            </div>
            <div class="itemInputProduct">
                <label>Nhập đơn vị tính</label>
                <br>
                <input id="phoneNumber" placeholder="Nhập đươn vị tính cho hàng" formControlName="UnitOfMeasure">

            </div>
            <div class="itemInputProduct">
                <button>Thêm vào mục hàng</button>
            </div>
        </div>
    </div>
</div>